.movie__list {
    padding: 0 3rem 3rem 3rem;
        background:rgb(69, 67, 67);

}

.list__title {
font-size: 1.75rem;
color: white;
padding: 20px;
}

.list__cards {
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
}