.header {
    margin: 0;
    padding: 10px;
    align-items: center;
    display: flex;
    justify-content:space-between;
    background:rgb(69, 67, 67);
}

.headerLeft, .headerRight {
    display: flex;
    align-items: center;

}

a > span{
    margin: 0 30px;
    font-size: 1.3rem;
    cursor: pointer;
    color: rgb(248, 240, 240);
}

a > span:hover {
    color: red;
}

.header__icon {
    width: 80px;
    cursor: pointer;
}

.user__avatar {
    font-size: 2rem;
}